@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

.App {
  text-align: center;
  color: #fcba03;
}

h2{
  font-family: 'Tahoma';
  letter-spacing: 1px;
  font-weight: lighter;
  text-align:left;
}

body{
  background-color: #333;
  font-family: 'Tahoma';
}

.bio{
  font-family: 'Tahoma';
  font-size: 15px;
  text-align: center;
}

.buttons{
  letter-spacing: 1px !important;
  
}

.tab{
  letter-spacing: 1px !important;
  background-color: #393939 !important;
  width: 33%;
  border: 0 !important;
}


.activeTab{
  letter-spacing: 1px !important;
  background-color: #393939 !important;
  width: 33%;
  border: 0 !important;
  border-bottom: 2px solid !important;
}
.numbers{
  margin: 0;
  margin-left: 10px;
  text-align: left;
}

input:-webkit-autofill{
  -webkit-text-fill-color: black !important;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
  margin: 30px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #040404;
  font-family: 'Noto Sans JP', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color:#fcba03 ;
}

/* 
button {
  background-color: #fcba03 ;
} */



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
